@font-face {
	font-family: raleway-c;
	src: url(../fonts/src/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/src/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}